
main{
    display: gird;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
}
#cherries{

}
img{
    width: 100%;
}
#left{
    grid-column: 1/2;
    grid-row: 1/6;
}
#right{
    grid-column: 2/3;
    grid-row: 1/6;
    background-color: gray;
}
#cherry-text{

}
#title{
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 7em;
    letter-spacing: 18px;
    z-index: 1;
}













