@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&family=Raleway:wght@200&display=swap');


div{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #EF5D60;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}

#background{
    height: 725px;
    width: 100%;
    background-color: #D81159;
}
body{
    background-color: #E6E6E6;
    font-family: Raleway, Oswald, Open-Sans  ;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #50D8D7;
}
nav a:hover{
    background-color: #92140C;
    color: #A01A7D;
}
.book, .join{
    color: #FF2ECC;
    background-color: #20FC8F;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color: #E6E6E6;
    background-color: #4AAD52;
}
.msg{
    background-color: #353831;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #FF6B6B;
    color:#50D8D7;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: #A01A7D;
}
h4{
    color: #8CFF98;
}
.msg h2{
    color: #E9D758;
    font-family: Raleway, Oswald, Open-Sans  ;
}
.msg p{
    color: #AAFAC8;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: #000000;
    text-decoration: none;
}
footer a:hover{
    color: #A51080;
}
footer p {
    font-size: 1.5em;
}
.logo{
    width: 80px;
}
footer p a:hover {
    text-decoration: underline;
}    
#hero-img {
    width: 100%;
}
.home-title{
    font-family: Raleway, Oswald, Open-Sans  ;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
.icon{
    padding-top: 10px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #000000;
}
main section img{
    box-sizing: border-box;
}



