#first {
    color: red
    font-size: 32px;
    font-family: Veranda;
    font-weight: bold;
}
plain {
    color: purple;
    background-color: yellow;
    font-size:32px
}

#last {
    background-color: purple;
    color: yellow;
}
